body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0f172a;
    color: white;
}

header {
    text-align: center;
    padding: 80px 20px;
    background: #1e293b;
}

h1 {
    margin: 0;
    font-size: 40px;
}

p {
    font-size: 18px;
}

section {
    padding: 50px 20px;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #1e293b;
    margin: 10px auto;
    padding: 10px;
    width: 200px;
    border-radius: 8px;
}
